* {
    margin: 0;
}

body {
    width: 50%;
    margin: 0 auto;
    background-color: #DDEEAA;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    border: 2px solid #AABB44;
    border-collapse: collapse;
    border-bottom: none;
    margin-top: 30px;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

.apple {
    width: 300px;
}

.title-img {
    height: 150px;
    width: 50%;
}

nav {
    background-color: #72c029;
    color: white;
}

nav a {
    padding: 5px 35px;
    border-right: 1px solid white;
    width: 100px;
    display: inline-block;
}

section {
    background-color: white;
}

.img {
    margin-top: 50px;
    margin-left: 20px;
}

.block {
    display: flex;
}

.block-left img {
    width: 45px;
}

.img_tittle {
    display: flex;
}

.little_apple {
    height: 25px;
    margin-top: 5px;
    border-bottom: 1px solid #AABB44;
    padding-bottom: 5px;
}

.title {
    font-size: 30px;
    color: #AABB44;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #AABB44;
}

.block-right {
    padding: 50px;
}

article p{
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px;
    text-indent: 45px;
}

footer {
    font-size: 20px;
    color: rgb(92, 179, 21);
    background-color: white;
    padding: 5px;
    border: 1px solid #AABB44;
    border-collapse: collapse;
    border-top: none;
    text-align: end;
}